<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JEN Stack Start Omega</title>
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/songs.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>JEN Stack Start Omega</h1>
    <div>
      <input type='text' placeholder="song" id='songIn' />
      <input type='text' placeholder="artist" id='artistIn' />
      <button id='addSongButton'>Add Song</button>
    </div>
    <div id='outputDiv'>
      Songs will go here...
    </div>
  </body>
</html>
